.env
*.session
__pycache__/
*.py[cod]
.venv/
venv/
node_modules/
.next/
out/
public/messages.json
public/export_state.json
/.idea/.gitignore
/.idea/modules.xml
/.idea/uezdy.github.io.iml
/.idea/vcs.xml
