html {
  overflow: hidden;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}
a.topic-list-item {
  transition-duration: 100ms;
  transition-property: font-size;
}
a.topic-list-item:hover {
  font-size: larger;
}
a:hover {
  text-decoration: underline;
}
.comment-icon {
  margin: 0 10px;
}
