html {
  overflow: hidden;
}
body {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  width: fit-content;
}
a.topic-list-item {
  transition-duration: 100ms;
  transition-property: font-size;
}
a.topic-list-item:hover {
  font-size: larger;
}
a:hover {
  text-decoration: underline;
}
.comment-icon {
  margin: 0 10px;
}

.base-Popper-root, .MuiMenu-root, .Mui-expanded, .MuiMenu-variantOutlined, .MuiMenu-colorNeutral, .MuiMenu-sizeMd, .css-hsv7c7 {
  max-height: 75%;
}

.original-message-modal > .original-message-modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  padding: 3px;
}
@media (max-width: 1000px) {
  .original-message-modal > .original-message-modal-box {
    width: 96vw;
  }
}
@media (min-width: 600px) {
  .original-message-modal > .original-message-modal-box {
    width: 50vw;
  }
}
.original-message-modal #telegram-post {
  width: 100%;
  height: 100%;
}


